@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

*{ 
    font-family: Comfortaa;
    text-align:center;
    color:rgb(25, 25, 140);
}

/*inizio nav*/

#logo {
    height:8rem;
    float:left;
}

#burger-menu{
    display:none;
}

.skip{
    position:absolute;
    left:-10000px;
    top:auto;
    width: 1px;
    height: 1px;
    overflow:hidden;
}

nav{
    height:8rem;
    background-image: linear-gradient(to right,rgb(25, 25, 140), rgb(0,146,63));
    display:flex; /*mantiene il logo a sinistra e il menu a destra*/
}

nav ul{
    display:flex;
    align-items: center; /*mantiene gli elementi del menu verticalmente al centro*/
    margin: 0% 5%; /*mantiene gli elementi del menu orizzontalmente al centro*/
}

nav ul li{
    display:inline;
}

nav ul li a{
    display:flex;
    color:white;
    text-decoration:none;
}

nav ul li a:hover{
    color:rgb(238, 255, 0);
    text-shadow:rgb(0, 0, 0) 2px 2px 2px;
}

#tendina{
    background-color: rgb(255, 255, 255);
    position:absolute;
    margin: 1.1rem -1.6rem;
    border: 1px solid rgb(25, 25, 140);
}

#tendina a{
    font-weight: bolder;
    padding:1rem;
    color:rgb(0,146,63);
}

#tendina a:hover{
    color:rgb(25, 25, 140);
    text-shadow: none;
    text-decoration:underline;
}

/*media query che rendono il menu responsive*/

@media only screen and (min-width: 1300px) {

    nav ul li a{
        padding:2rem; /*mantiene gli elementi del menu tutti su una sola riga*/
        }
}

@media only screen and (min-width: 1150px) and (max-width: 1300px) {

    nav ul{
        margin:0;
        padding:0; /*mantiene gli elementi del menu orizzontalmente al centro*/
    }
    nav ul li a{
        padding:1.5rem;
        }
}

@media only screen and (min-width: 991.5px) and (max-width: 1150px) {

    nav ul{
        margin:0;
        padding:0; /*mantiene gli elementi del menu orizzontalmente al centro*/
    }

    nav ul li a{
        padding:1rem;
        }
}

@media only screen and (max-width: 991.5px) {

    #menu{
        display:none;
    }

    #burger-menu{
        display:block;
        position:absolute;
        top:10px;
        right:10px;
    }

    #logo{
        float:none;
    }

    nav {
        height:19rem;
    }
    
    nav ul{
        margin: 0;
        padding-left: 0;
        flex-direction:column;
        justify-content:space-around;
    }

    nav ul li{
        display:block;
    }
    
    nav ul li a{
        display:block;
        color:white;
        padding:8px 16px;
        text-decoration:none;
    }

    #tendina{
        margin: 0.5rem -2.5rem;
    }

  }

@media only screen and (max-width: 575.2px) {

    nav {
        height:18rem;
    }
}

hr{
    margin:0 0 1rem 0 !important; /*mantiene l'hr attaccato al menu e una certa distanza da h1, 
                                    !important perchè bootstrap altrimenti lo sovrascrive*/
}

/*fine nav*/

/*inizio home*/  

#introduzione{width:100%;}
                  
#home1{
    text-align:left !important;
    margin-left:5%;
    margin-top:5%;
    float:left;
}

@media only screen and (max-width: 1300px) {

    #home1{
        text-align:center !important;
        float:none;
    }
}
   
#future{margin-left:35px;
     margin-right:35px;
     border:1px solid;
     width:400px;}

#slogan em{
    color:white;
}

#palazzi{width: 400px;}

.icone{
    flex-direction:column;
    align-items:center;
    font-size: 2rem;
}

.titoli-servizi {
    font-size: 1.3rem;
}

.titoli-servizi:hover{
    color:rgb(0,146,63);
    font-weight: bolder;
}
           
/*fine home*/

/*inizio chi siamo*/

#clic p a:hover{
    color:rgb(0,146,63);
    font-weight: bolder !important;
    text-shadow:none;
}

#team-membri{
    display:flex;
    justify-content: space-between;
    margin:0 auto;
}

.team{
    width:90%;
    border:1px solid rgb(25,25,140);
    margin-right:1.5rem;
    margin-bottom:1.2rem;
}

.team:first-child{
    margin-left:1rem;
}

@media only screen and (max-width: 991.5px) {

    #team-membri{
        flex-direction: column;
    }

    .team{
        width:50%;
    }
}

#button-box{
    background-color: rgb(25, 25, 140);
    color: white;
    font-size: 1.2rem !important;
    padding: 0.625rem 1.25rem; 
    border: none;
    border-radius: 0.3125rem; 
    cursor: pointer;
    text-decoration: none;
}

#button-box:hover{
    color:rgb(238, 255, 0);
    text-shadow:rgb(0, 0, 0) 2px 2px 2px;
}

/*fine chi siamo*/

/*inizio servizi*/

.form {
    background-color: white;
    padding: 1.25rem;
    border: 0.125rem solid rgb(25, 25, 140);
    border-radius: 0.625rem;
    width: 30.75rem;
    margin: auto; /* Posiziona il form al centro della pagina */
}

.form label {
    display: block;
    margin-bottom: 0.3125rem;
}

.form input, .form textarea {
    width: calc(100% - 0.75rem); /* Sottrae il padding dal totale della larghezza */
    padding: 0.5rem;
    margin-bottom: 0.9375rem;
    border: 0.0625rem solid rgb(25, 25, 140);
    border-radius: 0.3125rem;
}

.form textarea {
    resize: vertical; /* Abilita la ridimensionabilità verticale della textarea */
}

.form button {
    background-color: rgb(25, 25, 140);
    color: white;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
}

.form button:hover {
    background-color: rgb(50, 50, 165); /* Cambia leggermente il colore al passaggio del mouse */
}

/*fine servizi*/

/*inizio section portfolio e riconoscimenti*/

h1{
    display:block;
    margin:1.5rem;
}

.screen{
    width: 320px;
    border: 1px solid rgb(25, 25, 140);
    margin:1.5rem;
}

.awards{
    width:90%;
}

#primoParagrafo, #secondoParagrafo, #terzoParagrafo, #quartoParagrafo, #quintoParagrafo, #sestoParagrafo,
#primoParagrafoRiconoscimenti, #secondoParagrafoRiconoscimenti, #terzoParagrafoRiconoscimenti{
    color:rgb(25, 25, 140);
    border-bottom: 0.2rem solid rgb(0,146,63);
   }

#primoParagrafo strong, #secondoParagrafo strong, #terzoParagrafo strong, #quartoParagrafo strong, #quintoParagrafo strong, #sestoParagrafo strong, 
#primoParagrafoRiconoscimenti strong, #secondoParagrafoRiconoscimenti strong, #terzoParagrafoRiconoscimenti strong{
    color:rgb(25, 25, 140);
}

#PrimaRecensione, #SecondaRecensione, #TerzaRecensione{
    width:60%;
    margin-left: 20%;
    margin-right: 20%;
}

#sinistra{
    float:left;
    margin-top:6rem;
    margin-left:3rem;
}

#destra{
    float:right;
    margin-top:6rem;
    margin-right:3rem;
}

.citazione p{
    color:white;
    font-size: 2rem;
    line-height:1.5;
    background-image: linear-gradient(to right,rgb(25, 25, 140), rgb(0,146,63));
    margin:5%;
}

#premiazione{
    width: 100%;
}

@media only screen and (max-width: 991.5px) {

    .citazione p{
        font-size: 1rem !important;
    }

    .awards{
        width:60%;
    }
}


@media only screen and (max-width: 420px) {
    h1{
      font-size: 1.7rem !important;
      }

    .screen{
        width: 220px;
        border: 1px solid rgb(25, 25, 140);
        margin:1rem;
    }

    #sinistra{
        margin-top:10rem;
        margin-left:1rem;
    }
    
    #destra{
        margin-top:10rem;
        margin-right:1rem;
    }

    .cinquestelle{
        width:70%;
    }
}

/*fine section portfolio e riconoscimenti*/

/*inizio contatti e lavora con noi*/

#lista{
    list-style-type:none;
}

#tabella{
    background-color:rgb(25, 25, 140);
}

#tabella th{
    color:white;
}

#posizione_maps {
    background-color: rgb(25, 25, 140);
    color: white;
    padding: 0.625rem 1.25rem; 
    border: none;
    border-radius: 0.3125rem; 
    cursor: pointer;
    text-decoration: none;
}

#posizione_maps:hover {
    color:rgb(238, 255, 0);
    text-shadow:rgb(0, 0, 0) 2px 2px 2px;
}

#grafica_team2 {
    width: 150%;
}

/*fine contatti e lavora con noi*/

/*inizio footer*/

#su{
    position:fixed;
    right: 1rem;
    bottom: 3rem;
}

footer{
    background-image: linear-gradient(to right,rgb(25, 25, 140), rgb(0,146,63));
}

#contattifooter, #quicklinkfooter{
    margin-top:3%;
}

#contattifooter p, #quicklinkfooter p{
    font-size: 1.5rem !important;
}

#pfooter, #hrfooter, #contattifooter p, #quicklinkfooter p, footer a{
    color:white;
    text-decoration: none;
}

footer a:hover{
    color:rgb(238, 255, 0);
    text-shadow:rgb(0, 0, 0) 2px 2px 2px;
}

#footer2{
    background-color:white;
}

/*fine footer*/